.title {
  font-family: "Roboto Slab", "Helvetica";
}
.bold-text {
  font-family: "Poppins";
  font-weight: 700;
}
.semibold-text {
  font-family: "Poppins";
  font-weight: 600;
}
.regular-text {
  font-family: "Poppins";
  font-weight: 400;
}

/* font sizes  */
.small-size {
  font-size: 21.5px;
}

.bigger-smaller-size {
  font-size: 56.5px;
}

.big-size {
  font-size: 18.5px;
}
.bigger-small-size {
  font-size: 90.59px;
}

/* Apply the below class to item that you want on hover to bold up, e.g nav items */
/* .hover-bold {
  font-weight: regular;
} */
.hover-bold:hover {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.align-center {
  text-align: center;
}

/* colors */
.dark-green {
  color: #182c26;
}
.white {
  color: white;
}
.white-bg {
  background: white;
}
.dark-green-bg {
  background: #182c26;
}
.light-green {
  color: rgba(24, 44, 38, 0.54);
}
.light-green-bg {
  background: #6d978c;
}
.light-green-bg-b {
  background: #597c73;
}

/*Rotating objects*/
.rotate-it {
  transform-origin: center;
  transform: rotate(-90deg);
}

.center-it {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
